.head{
    border: 2px solid rgb(238 238 239 / 30%);
    background-color: rgb(206 207 208 / 30%);
     margin: 0%;
     padding: 10px
}
.head .fa-envelope{
    padding-left: 950px;
}
.head  a{
    color:black;
    text-decoration: none;
    
}
.nav a{
     font-family:'Times New Roman';
     font-size: 20px;
     padding : 50px;
     color: black;
     text-decoration: none;
     
}
.nav img{
    padding-left: 40px;
    padding-right: 80px;
}
button{
     border-width: 1px;
     background-color: white;
     padding-top: 13px;
     padding-bottom: 13px; 
     border-radius: 5%;
    }
.nav button a{
    font-size:17px;
    padding: 10px;
    padding-bottom: 10px;
    align-self: hover;
}
.nav button a:hover{
    color:white;
    background-color: rgb(23, 23, 52);
}
.foot{
    padding-top: 20px;
    background-color: rgb(164, 164, 188);
    color: black;
    font-family:'Times New Roman';
}
.foot a{
    color: black;
    text-decoration: none;
}
.footer {
    margin-left: 10%;
    text-decoration: none;
}
.f1 {
    margin-left: 50%;
    margin-top: -18%;
    font-size: 20px;
    text-decoration: none;
}
.f2 {
    margin-left: 80%;
    margin-top: -10.5%;
    text-decoration: none;
}

